{% extends "lla1/base.html" %}
{% load static %}

{% block content %}
    <h1>jing zhu</h1>    
    <iframe id="bilibili-player" src="//player.bilibili.com/player.html?isOutside=true&aid=113241829147785&bvid=BV1zKxDewE4K&cid=26118916128&p=1&autoplay=0&qn=74" 
            scrolling="no"
            border="0"
            frameborder="no"
            framespacing="0"
            allowfullscreen="true"
            width="800"
            height="450">
    </iframe> 

    <h1>My 2022</h1>
    <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=477894934&bvid=BV1rK411r7me&cid=969858767&p=1&autoplay=0" 
            scrolling="no"
            border="0"
            frameborder="no"
            framespacing="0"
            allowfullscreen="true"
            width="800"
            height="450">
            
    </iframe> 
    <br><br>
    <h1>ZhengGongTa sunset clouds</h1>
    <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=113173713653705&bvid=BV1mMtredELP&cid=25943411382&p=1&autoplay=0" 
            scrolling="no"
            border="0"
            frameborder="no"
            framespacing="0"
            allowfullscreen="true"
            class="img-fluid" style="max-width: 800px; height: auto;">
    </iframe> 

    <!-- selected static audio and entry to display-->
    <br>
    <audio controls loop >  <!-- autoplay loop -->
        <source src="{% static staticFileName %}" type="audio/mpeg">
        Your browser does not support the audio element. autoplay 'audio/gyz.mp3'
    </audio>

    <br>
    <pre>
    {{ selectedEntry.text }}
    </pre>

    <!-- hardcoded static video to display-->
    <video class="img-fluid" style="max-width: 300px;" controls /*autoplay*/ loop>
        <source src="{% static "video/schoolsong.mp4" %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
{% endblock content %}

